<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<sozd name="settings">
    <sozd name="mainWindow">
        <sozd name="placement">
            <tozd name="x" type="Integer" value="224"/>
            <tozd name="y" type="Integer" value="82"/>
            <tozd name="w" type="Integer" value="1024"/>
            <tozd name="h" type="Integer" value="576"/>
            <tozd name="maximized" type="Boolean" value="false"/>
        </sozd>

    </sozd>

    <sozd name="leftSide">
        <sozd name="font">
            <tozd name="name" type="String" value="Monospaced"/>
            <tozd name="size" type="Integer" value="13"/>
        </sozd>

        <tozd name="colorScheme" type="String" value="brightGray"/>
    </sozd>

    <sozd name="rightSide">
        <sozd name="font">
            <tozd name="name" type="String" value="Monospaced"/>
            <tozd name="size" type="Integer" value="13"/>
        </sozd>

        <tozd name="colorScheme" type="String" value="brightBlue"/>
    </sozd>

    <sozd name="executionWindow">
        <sozd name="placement">
            <tozd name="x" type="Integer" value="72"/>
            <tozd name="y" type="Integer" value="27"/>
            <tozd name="w" type="Integer" value="783"/>
            <tozd name="h" type="Integer" value="333"/>
            <tozd name="maximized" type="Boolean" value="false"/>
        </sozd>

        <sozd name="font">
            <tozd name="name" type="String" value="Monospaced"/>
            <tozd name="size" type="Integer" value="13"/>
        </sozd>

        <tozd name="foreground" type="Color" value="#000000"/>
        <tozd name="background" type="Color" value="#FFFFE0"/>
    </sozd>

    <tozd name="tabIndent" type="Integer" value="4"/>
    <tozd name="language" type="Integer" value="1"/>
</sozd>

